/*
First mobile design

	Table of contents

		1.Root and universal selector
		
		2.Header(Navigation bar and logo)

		3. Body

		4.Footer

		5. Animation keyframes

		6. Media queries
*/

/*1.Root and universal selector*/
:root{
	--almostWhite: hsl(0, 0%, 98%);
	--mediumGray: hsl(0, 0%, 41%);
	--almostBlack: hsl(0, 0%, 8%);

	--fontSizeLinks: 1rem;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
	list-style: none;
	text-decoration: none;
}
/*1.Root and universal selector END*/

/*2.Header(Navigation bar and logo)*/

/*2.1 Container of the logo, the logo and the open and close nav button*/
.logo-navbtn-cont{
	display: flex;
	justify-content: space-between;

	position: relative;
	z-index: 5;

	padding: clamp(0.8em, calc(0.8em + 1vw), 2em);
}

.logo{
}

.o-close-nav-btn{

	cursor: pointer;
}

/*2.2 Navigation bar*/
nav{
	position: fixed;
	z-index: 4;

	background-color: #FFF;
	width: 60%;
	height: 100%;
	padding-top: 4em; 

	font-size: var(--fontSizeLinks);

	top: 0;
	right: -100%;
}

/*2.3 "Status" of opened or closed navigation bar at the beginnind doesn't have value*/
[data-toggle-status="true"]{
	animation-name: open-nav;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}

[data-toggle-status="false"]{
	animation-name: close-nav;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}

.nav__options{
	display: flex;
	flex-direction: column;

	padding: clamp(0.5em, calc(0.5em + 1vw), 1.1em);
}

.nav__option{

	margin: clamp(0.2em, calc(0.3em + 1vw), 1em);

	color: var(--mediumGray);

	transition: all 150ms;

	cursor: pointer;
}

.nav__option:hover{
	color: var(--almostBlack)
}

.nav__link{
	display: inline-block;

	color: var(--mediumGray);

	transition: all 150ms;
}

.nav__link:hover{
	color: var(--almostBlack)
}

.drop__link{

	padding: clamp(0.4em, calc(0.4em + 1vw), 1em);

	color: var(--mediumGray);

	transition: all 150ms;
}
	
.drop__link:hover{
	color: var(--almostBlack)
}

.nav__option--regist{
	margin: 0.5em auto;
}

.nav__link--regist{
	padding: 0.5em 2.5em;
	border: 1px solid var(--mediumGray);

	border-radius: 15px;
}

.nav__link--regist:hover{
	border-color: var(--almostBlack);
}

.nav__option--log{
	margin: 0.5em auto;
}

.nav__link--log{
	padding: 0.5em 0.8em;
}

.dropdown{
}

/*2.4 Dropdown "Status" if it is active or not, at the beginning doesnt have value*/
[data-dropdown-active="true"]{
	animation-name: open-drop;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

[data-dropdown-active="false"]{
	animation-name: close-drop;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

#overlay{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);

	position: fixed;
	z-index: 3;
	top: 0;

	opacity: 0;
}

[data-overlay-active="true"]{
	animation-name: overlay-appear;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
}

[data-overlay-active="false"]{
	animation-name: overlay-vanish;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
}

@keyframes open-nav{
	from{
	}
	to{
		right: 0%;
	}
}

@keyframes close-nav{
	from{
		right: 0%;
	}
	to{
		right: -100%;
	}
}

@keyframes open-drop{
	from{

	}
	to{
		height: 100%;
	}
}

@keyframes close-drop{
	from{
		height: 100%;
	}
	to{
		height: 0;
	}
}

@keyframes overlay-appear{
	from{

	}
	to{
		opacity: 1;
	}
}

@keyframes overlay-vanish{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}